<!doctype html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="/style.css">
        <title>Employee Database</title>
    </head>

    <body>

        <nav>
            <a href="/employees">All Employees</a>
            <a href="/managers">Managers</a>
            <a href="/engineers">Engineers</a>
            <a href="/departments">Departments</a>
        </nav>
        <!-- begin inner template-->
        <div class="container">
            #parse( $template )
        </div>
        <!-- end inner template-->
    </body>

</html>